.amanecer {
  
background: linear-gradient( rgb(232, 199, 108) 93%, rgb(247, 156, 29) 100%, rgb(239, 247, 123) 87%);
}

.atardecer {
    background: linear-gradient(90deg, rgb(219, 131, 17) 90%, rgb(247,156,29) 100%);
}
.sale {
    box-shadow: 10px 10px 20px 0 rgba(236, 120, 26, 0.952);
    
}
h2,h5,h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}